# Lending disparities using Logistic Regression

**The story:** https://www.revealnews.org/article/for-people-of-color-banks-are-shutting-the-door-to-homeownership/

**Author:** Aaron Glantz and Emmanuel Martinez

**Topics:** Logistic regression, odds ratios

**Datasets**

* **philadelphia-mortgages.csv:** Philadelphia mortgage data for 2015
    - A subset of HMDA LAR data from [FFEIC](https://www.ffiec.gov/hmda/hmdaproducts.htm)
    - Codebook is `2015HMDACodeSheet.pdf`
    - A [guide to HMDA reporting](https://www.ffiec.gov/hmda/guide.htm)
    - I've massaged it slightly to make processing a bit easier
* **nhgis0006_ds233_20175_2017_tract.csv:**
    - Table B03002: Hispanic or Latino Origin by Race
    - 2013-2017 American Community Survey data US Census Bureau, from [NHGIS](https://data2.nhgis.org/main)
    - Codebook is `nhgis0006_ds233_20175_2017_tract_codebook.txt`
* **lending_disparities_whitepaper_180214.pdf:** the whitepaper outlining Reveal's methodology

## What's the goal?

Do banks provide mortgages at disparate rates between white applicants and people of color? We're going to look at the following variables to find out:

* Race/Ethnicity
    - Native American
    - Asian
    - Black
    - Native Hawaiian
    - Hispanic/Latino
    - Race and ethnicity were not reported
* Sex
* Whether there was a co-applicant
* Applicant’s annual income (includes co-applicant income)
* Loan amount
* Ratio between the loan amount and the applicant’s income
* Ratio between the median income of the census tract and the median income of the metro area
* Racial and ethnic breakdown by percentage for each census tract
* Regulating agency of the lending institution

# Setup

Import pandas as usual, but also import numpy. We'll need it for logarithms and exponents.

Some of our datasets have a lot of columns, so you'll also want to use `pd.set_option` to display up to 100 columns or so.

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm


from sklearn.linear_model import LogisticRegression
from statsmodels.sandbox.regression.predstd import wls_prediction_std

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix


pd.set_option("display.max_columns", 100)
pd.set_option("display.max_colwidth", 100)

# What is each row of our data?

If you aren't sure, you might need to look at either the whitepaper or the codebook. You'll need to look at them both eventually, so might as well get started now.

# Read in your data

Read in our Philadelphia mortgage data and take a peek at the first few rows.

* **Tip:** As always, census tract columns like to cause problems if they're read in as numbers. Make sure pandas reads it in as a string.

In [2]:
df = pd.read_csv('philadelphia-mortgages.csv', 
            dtype = {'census_tract': str, 
                     'county_code': str, 
                     'state_code': str})

### Check your column types

I mentioned it above, but make sure `census_tract` is an object (a string) or merging isn't going to be any fun later on.

In [3]:
df.dtypes

census_tract                    object
county_code                     object
state_code                      object
applicant_sex                    int64
income                           int64
loan_amount                      int64
loan_type                        int64
property_type                    int64
occupancy                        int64
action_type                      int64
loan_purpose                     int64
agency_code                      int64
tract_to_msa_income_percent    float64
applicant_race                   int64
co_applicant_sex                 int64
dtype: object

# Engineering and cleaning up features

## Income-related columns

> When we plotted the number of applicants, how much money they made and the size of the loan, we found that it skewed to the left, meaning the majority of applicants were clustered on the lower end of the income and loan amount scales. This was especially true for applicants of color. **We took the logarithm transformation of income and loan amount to normalize the distribution of those variables and limit the effect of extreme outliers.**

A few of the columns you'll need to calculate yourselves. **Calculate these values and assign them to three new columns.**

* Applicant’s adjusted annual income (includes co-applicant income)
* Adjusted loan amount
* Ratio between the loan amount and the applicant’s income

Instead of using the raw income and loan amount, you'll want the log of both income and loan amount. Call these new columns `log_income` and `log_loan_amount`. The third column will be `loan_income_ratio`.

* **Tip:** `np.log` gives you the logarithm

In [4]:
df['log_income'] = np.log(df.income)
df['log_loan_amount'] = np.log(df.loan_amount)

In [5]:
df['loan_income_ratio'] = df.log_income/df.log_loan_amount

### Co-applicants

Right now we have a column about the co-applicant's sex (see the codebook for column details). We don't want the sex, though, we're interested in whether there is a co applicant or not. Use the co-applicant's sex to **create a new column called `co_applicant` that is either 'yes', 'no', or 'unknown'.**

* **Hint:** If the co-applicant's sex was not provided or is not applicable, count it as unknown.
* **Hint:** The easiest way is to use `.replace` on the co-applicant sex column, but store the result in your new column

In [6]:
df['co_applicant'] = df.co_applicant_sex.replace([1, 2], 'yes').replace(5, 'no').replace([3,4], 'unknown')

# Filter loan applicants

If you read the whitepaper - `lending_disparities_whitepaper_180214.pdf` - many filters are used to get to the target dataset for analysis.

> **Loan type**
>
> While we recognize the substantial presence of applicants of color in the FHA market, we focused on conventional home loans for several reasons.

> **Property type**
>
> Prospective borrowers submit loan applications for various types of structures: one- to four-unit properties, multifamily properties and manufactured homes. For this analysis, we focused on one- to four-unit properties.

> **Occupancy**
>
> We included only borrowers who said they planned to live in the house they were looking to buy. We did this to exclude developers or individuals who were buying property as an investment or to subsequently flip it.

> **Action Type**
>
> We wanted to look at the reasons lending institutions deny people a mortgage. After conversations with former officials at HUD, we decided to include only those applications that resulted in originations (action type 1) or denials (action type 3)

> **Income**
>
> An applicant’s income isn’t always reported in the data. In other cases, the data cuts off any incomes over \\$9.9 million and any loan amounts over \\$99.9 million, meaning there’s a value in the database, but it’s not precise. We focused only on those records where income and loan amount have an accurate estimation. This meant discarding about 1 percent of all conventional home loans in the country for 2016. [Note: I already edited this]
>
> When we plotted the number of applicants, how much money they made and the size of the loan, we found that it skewed to the left, meaning the majority of applicants were clustered on the lower end of the income and loan amount scales. This was especially true for applicants of color. We took the logarithm transformation of income and loan amount to normalize the distribution of those variables and limit the effect of extreme outliers.

> **Lien status**
>
> We included all cases in our analysis regardless of lien status.

> **Race and ethnicity**
>
> At first, we looked at race separate from ethnicity, but that approach introduced too many instances in which​ ​either the ethnicity or race was unknown. So we decided to combine race and ethnicity. Applicants who marked their ethnicity as Hispanic were grouped together as Hispanic/Latino regardless of race. Non-Hispanic applicants, as well as those who didn’t provide an ethnicity, were grouped together by race: non-Hispanic white, non-Hispanic black, etc. **[Note: This has already been taken care of]**

> **Loan purpose**
>
> We decided to look at home purchase, home improvement and refinance loans separately from each other. [Note: please look at **home purchase** loans.]

Use the text above (it's from the whitepaper) and the **2015HMDACodeSheet.pdf** code book to filter the dataset.

* **Tip:** there should be between 5-8 filters, depending on how you write them.

In [7]:
df = df[(df.loan_type == 1) & 
   (df.property_type == 1) & 
   (df.occupancy == 1) & 
   ((df.action_type == 1) | (df.action_type == 3)) &
   (df.loan_purpose == 1)].copy()

When you're done filtering, save your dataframe as a "copy" with `df = df.copy()` (if it's called `df`, of course). This will prevent irritating warnings when you're trying to create new columns.

### Confirm that you have 10,107 loans with 19 columns

In [8]:
df.shape

(10107, 19)

### Create a "loan denied" column

Right now the `action_type` category reflects whether the loan was granted or not, and either has a value of `1` or `3`.

Create a new column called `loan_denied`, where the value is `0` if the loan was accepted and `1` if the loan was denied. **This will be our target for the machine learning algorithm.**

* **Tip:** You should have 8,878 successful loans and 1,229 denied loans

In [9]:
df['loan_denied'] = df.action_type.replace(3, 0)

In [10]:
df.loan_denied.value_counts()

1    8878
0    1229
Name: loan_denied, dtype: int64

# Deal with categorical variables

Let's go ahead and take a look at our categorical variables:

* Applicant sex (male, female, na)
* Applicant race
* Mortgage agency
* Co-applicant (yes, no, unknown)

Before we do anything crazy, let's use the codebook to turn them into strings.

* **Tip:** We already did this with the `co_applicant` column, you only need to do the rest
* **Tip:** Just use `.replace`

In [11]:
df['applicant_sex'] = df.applicant_sex.replace(1, 'male').replace(2, 'female').replace([3, 5], 'na')

In [12]:
df['applicant_race'] = df.applicant_race.replace(5, 'white').replace(1, 'native american').\
    replace(2, 'asian').replace(3, 'black').replace(4, 'native hawaiian').\
    replace(99, 'hispanic').replace([6, 7, 8], 'na')

In [13]:
df['agency_code'] = df.agency_code.replace(1, 'OCC').replace(2, 'FRS').\
                    replace(3, 'FDIC').replace(5, 'NCUA').replace(7, 'HUD').replace(9, 'CFPB')

Double-check these columns match these values in the first three rows (and yes, you should have a lot of other columns, too).

|applicant_sex|agency_code|applicant_race|co_applicant|
|---|---|---|---|
|female|OCC|white|no|
|na|OCC|na|unknown|
|male|OCC|white|no|

## Dummy variables

Let's say we're at the end of the homework, and we have a column called `sex`, where `0` is female and `1` is male. After we've done our regression, we can look at the coefficient/odds ratio for `sex` and say something like **"being male gives you a 1.5x odds of being denied a loan."**

We can say this because we're looking at one column, and changing `sex` from `0` to `1` would turn the applicant male and give them a 1.5x chance of being denied (the odds ratio).

**But let's say we're looking at a column called `race` instead.** We could do the same `0`/`1` thing with white/minority, but what about white/black/asian? If we try to give them `0`/`1`/`2` our coefficient/odds ratio interpreation stops working, because we don't have a nice True/False dichotomy any more, it's now a *real number*.

* `0`: White
* `1`: Black
* `2`: Asian

Usually with numbers you can say "...for every increase of 1...", but we can't anymore - changing from White to Black (+1) isn't the same as changing from Black to Asian (+1). And you can't subtract Black from Asian to get White. And no, you also can't average together White and Asian to get Black. Just recognize that these aren't numbers, they're categories!

**How can we turn races off and on like we can turn the `sex` variable off and on?** A good option is to make *a `0`/`1` column for each race*. We can then flip each race off and on. These are called **dummy variables**.

In [14]:
pd.get_dummies(df.applicant_race, prefix='race').head()

,race_asian,race_black,race_hispanic,race_na,race_native american,race_native hawaiian,race_white
42,0,0,0,0,0,0,1
43,0,0,0,1,0,0,0
46,0,0,0,0,0,0,1
48,1,0,0,0,0,0,0
51,1,0,0,0,0,0,0

Seems to take up a lot of space, but it works a lot better.

* The first person is white, so they have a `1` for white and a `0` for every other race
* The second person is N/A, so they have a `1` for N/A and a `0` for every other race
* The next three are white, asian, and asian, so they have a `1` under the appropriate column.

When you're looking at the regression output, each column has its own coefficient (and odds ratio). Since each race now has a column, **each race will also have its own odds ratio.** Asian would have one, Black would have one, Latino would have one - now we can look at the effect of each race separately. For example, you could then say something like "being Asian (e.g., `race_asian` going from `0` to `1`) gives you a 1.2x greater chance of being denied, and being Black gets you a 2.1x chance of being denied."

And no, you're never going to have more than one `1` in a row at the same time.

After you've created your dummy variables, there's one more step which has a real fun name: **one-hot encoding.**

### One-hot encoding

When we have two sexes - male and female - we can flip between them with one binary digit, `0` and `1`.

If we had three races - White, Asian, Black - using `pd.get_dummies` would make three columns, which makes sense on the surface. But why can we put TWO values in ONE column for sex, and it takes THREE columns for the THREE race values?

The truth is, it doesn't have to!

Instead of having three columns, we're only going to have two: **asian and black**. And if both of them are `0`? The applicant is white! This is called a **reference category**, and it means **the coefficients/odds ratios for asian and black are in reference to a white applicant.** So it isn't "being black gets you a 2.1x chance of being denied," it's *being black gets you a 2.1x chance of being denied compared to a white person*. For example:

|race_asian|race_black|person's race|
|---|---|---|
|1|0|Asian|
|0|1|Black|
|0|0|White|
|1|1|Not possible if your source is a single race column|

To create a one-hot encoded variable with a reference category, you write code like this:

In [15]:
pd.get_dummies(df.applicant_race, prefix='race').drop('race_white', axis=1).head()

,race_asian,race_black,race_hispanic,race_na,race_native american,race_native hawaiian
42,0,0,0,0,0,0
43,0,0,0,1,0,0
46,0,0,0,0,0,0
48,1,0,0,0,0,0
51,1,0,0,0,0,0

> We usually use `.drop(columns=...)` to drop columns, but I'm using `axis=1` here because you should be familiar with it

### Make a one-hot encoded `sex` category with `female` as the reference category

You should end up with two columns: `sex_male` and `sex_na`.

In [16]:
pd.get_dummies(df.applicant_sex, prefix='sex').drop('sex_female', axis=1).head()

    sex_male  sex_na
42         0       0
43         0       1
46         1       0
48         0       0
51         0       0

## Using one-hot encoded columns

Since these one-hot encoded variables are standalone dataframes, we eventually need to combine them into our original dataframe.

We have four categorical variables - sex, race, co-applicant, and the loan agency - so we need you to **make four one-hot encoded variables**. Name them like this:

* `dummies_sex` - reference category of white
* `dummies_race` - reference category of female
* `dummies_co_applicant` - reference category of no
* `dummies_agency` - reference category of FDIC

Typically your reference category is the most common category, because it makes for the most interesting comparisons.

> **Tip:** if you're cutting and pasting from above, watch out for `.head()`
>
> **Tip:** After you've made them, use `.head(2)` to check the first couple rows of each to make sure they look okay

In [17]:
dummies_sex = pd.get_dummies(df.applicant_sex, prefix = 'sex').drop('sex_female', axis = 1)

In [18]:
dummies_race = pd.get_dummies(df.applicant_race, prefix = 'race').drop('race_white', axis = 1)

In [19]:
dummies_co_applicant = pd.get_dummies(df.co_applicant, prefix = 'co_applicant').drop('co_applicant_no', axis = 1)

In [20]:
dummies_agency = pd.get_dummies(df.agency_code, prefix = 'agency').drop('agency_FDIC', axis = 1)

## Cleaning up our old dataframe

Take a look at your original dataframe real quick.

In [21]:
df.head()

,census_tract,county_code,state_code,applicant_sex,income,loan_amount,loan_type,property_type,occupancy,action_type,loan_purpose,agency_code,tract_to_msa_income_percent,applicant_race,co_applicant_sex,log_income,log_loan_amount,loan_income_ratio,co_applicant,loan_denied
42,4019.00,045,42,female,59,112,1,1,1,1,1,OCC,133.09,white,5,4.077537,4.718499,0.864160,no,1
43,4099.02,045,42,na,177,375,1,1,1,1,1,OCC,208.56,na,3,5.176150,5.926926,0.873328,unknown,1
46,4102.00,045,42,male,150,381,1,1,1,1,1,OCC,215.35,white,5,5.010635,5.942799,0.843144,no,1
48,0312.00,101,42,female,65,136,1,1,1,1,1,OCC,93.11,asian,5,4.174387,4.912655,0.849721,no,1
51,4036.01,045,42,female,55,196,1,1,1,1,1,OCC,141.83,asian,5,4.007333,5.278115,0.759236,no,1

We don't need all of those columns! If we look at the list of columns we'll be using for the regression:

* Race/Ethnicity
* Sex
* Whether there was a co-applicant
* Applicant’s annual income (includes co-applicant income)
* Loan amount
* Ratio between the loan amount and the applicant’s income
* Ratio between the median income of the census tract and the median income of the metro area
* Racial and ethnic breakdown by percentage for each census tract
* Regulating agency of the lending institution

We can keep anything in that list, and remove everything else. For example, we can drop the variables we used to create the dummy variables, as we'll be adding the one-hot encoded versions in for the next step.

For "Racial and ethnic breakdown by percentage for each census tract" we'll need to join with some census data later, so we need to also keep census tract, county code and state code.

**Build a new dataframe with only the columns we're interested in, call it `numeric`.** We're calling it `numeric` because it's mostly numeric columns after the categorical ones have been removed.

> **Tip:** You can either use `.drop(columns=` to remove unwanted columns or `df = df[['col1', 'col2', ... 'col12']]` to only select the ones you're interseted in

In [22]:
numeric = df[['census_tract','county_code', 'state_code','tract_to_msa_income_percent',
         'income', 'loan_amount', 'loan_income_ratio', 'loan_denied']]

Confirm that `numeric` has 8 columns.

In [23]:
numeric.shape

(10107, 8)

### Combining our features

We now have 1 dataframe of numeric features (and some merge columns), and 4 one-hot-encoded variables (each with their own dataframe). Combine all five dataframes into one large dataframe called `loan_features`.

In [24]:
loan_features = numeric.merge(dummies_sex, left_index = True, right_index = True)\
                   .merge(dummies_race, left_index = True, right_index = True)\
                   .merge(dummies_agency, left_index = True, right_index = True)\
                   .merge(dummies_co_applicant, left_index = True, right_index = True)

Confirm that `loan_features` has 10,107 rows and 23 columns.

In [25]:
loan_features.shape

(10107, 23)

# Census data

Now we just need the final piece to the puzzle, the census data. Read in the census data file, calling the dataframe `census`.

> **Tip:** As always, be sure to read the tract column in as a string. Interestingly, this time we _don't_ need to worry about the state or county codes in the same way.
>
> **Tip:** You're going to encounter a problem that you find every time you read in a file from the US government!

In [26]:
census = pd.read_csv('nhgis0007_ds215_20155_2015_tract.csv', encoding = 'latin-1', dtype = {'TRACTA': str, 'COUNTYA': str, 'STATEA':str})

## Rename some columns

If you like to keep your data extra clean, feel free to rename the columns you're interested in. If not, feel free to skip it!

> **Tip:** Make sure you're using the estimates columns, not the margin of error columns

In [27]:
import re
names = '''
ADK5E001:    Total
ADK5E003:    White
ADK5E004:    Black
ADK5E005:    Amer_Indian
ADK5E006:    Asian 
ADK5E007:    Pac_Islander
ADK5E012:    Hispanic
'''

keys = re.findall('(ADK.+):', names)
values = re.findall('.+:\s+(\w+)', names)

col = dict(zip(keys, values))

In [28]:
census = census.rename(columns = col)
census.columns

Index(['GISJOIN', 'YEAR', 'REGIONA', 'DIVISIONA', 'STATE', 'STATEA', 'COUNTY',
       'COUNTYA', 'COUSUBA', 'PLACEA', 'TRACTA', 'BLKGRPA', 'CONCITA',
       'AIANHHA', 'RES_ONLYA', 'TRUSTA', 'AITSCEA', 'ANRCA', 'CBSAA', 'CSAA',
       'METDIVA', 'NECTAA', 'CNECTAA', 'NECTADIVA', 'UAA', 'CDCURRA', 'SLDUA',
       'SLDLA', 'ZCTA5A', 'SUBMCDA', 'SDELMA', 'SDSECA', 'SDUNIA', 'PUMA5A',
       'BTTRA', 'BTBGA', 'NAME_E', 'Total', 'ADK5E002', 'White', 'Black',
       'Amer_Indian', 'Asian', 'Pac_Islander', 'ADK5E008', 'ADK5E009',
       'ADK5E010', 'ADK5E011', 'Hispanic', 'ADK5E013', 'ADK5E014', 'ADK5E015',
       'ADK5E016', 'ADK5E017', 'ADK5E018', 'ADK5E019', 'ADK5E020', 'ADK5E021',
       'NAME_M', 'ADK5M001', 'ADK5M002', 'ADK5M003', 'ADK5M004', 'ADK5M005',
       'ADK5M006', 'ADK5M007', 'ADK5M008', 'ADK5M009', 'ADK5M010', 'ADK5M011',
       'ADK5M012', 'ADK5M013', 'ADK5M014', 'ADK5M015', 'ADK5M016', 'ADK5M017',
       'ADK5M018', 'ADK5M019', 'ADK5M020', 'ADK5M021'],
      dtype='object')

## Computed columns

According to Reveal's regression output, you'll want to create the following columns:

* Percent Black in tract
* Percent Hispanic/Latino in tract (I hope you know how Hispanic/Latino + census data works by now)
* Percent Asian in tract
* Percent Native American in tract
* Percent Native Hawaiian in tract

Notice that we don't include percent white - **because all of the other columns add up to percent white, we ignore it!** It's similar to a reference category.

> If we want to use buzzwords here, the technical reason we're not using percent white is called **collinearity.** We'll talk more about it on Friday.

In [29]:
census['pct_hispanic'] = census.Hispanic / census.Total * 100
census['pct_black'] = census.Black / census.Total * 100
census['pct_amer_indian'] = census.Amer_Indian / census.Total * 100
census['pct_asian'] = census.Asian / census.Total * 100
census['pct_pac_islander'] = census.Pac_Islander / census.Total * 100

## Only keep what we need to join and process

We're only interested in the percentage columns that we computed. Create a new dataframe called `census_features` that is only those columns along with the one we'll need for joining with the mortgage data.

> * **Tip:** Remember we saved state, county and tract codes when working on the loan data

In [30]:
census_features = census[['STATEA', 'COUNTYA', 'TRACTA', 'pct_hispanic', 'pct_black', 'pct_amer_indian', 'pct_asian', 'pct_pac_islander']]

In [31]:
census_features.head()

,STATEA,COUNTYA,TRACTA,pct_hispanic,pct_black,pct_amer_indian,pct_asian,pct_pac_islander
0,01,001,020100,0.872690,7.700205,0.308008,0.616016,0.000000
1,01,001,020200,0.788497,53.293135,0.000000,2.319109,0.000000
2,01,001,020300,0.000000,18.564690,0.505391,1.381402,0.269542
3,01,001,020400,10.490617,3.662672,1.560027,0.000000,0.000000
4,01,001,020500,0.743287,24.844374,0.000000,3.827929,0.000000

Confirm that your first few rows look something like this:
    
|STATEA|COUNTYA|TRACTA|pct_hispanic|pct_black|pct_amer_indian|pct_asian|pct_pac_islander|
|---|---|---|---|---|---|---|---|
|1|1|020100|0.872690|7.700205|0.308008|0.616016|0.000000|
|1|1|020200|0.788497|53.293135|0.000000|2.319109|0.000000|
|1|1|020300|0.000000|18.564690|0.505391|1.381402|0.269542|
|1|1|020400|10.490617|3.662672|1.560027|0.000000|0.000000|
|1|1|020500|0.743287|24.844374|0.000000|3.827929|0.000000|

Your column headers might be different but your numbers should match.

# Merge datasets

Merge `loan_features` and `census_features` into a new dataframe called `merged`.

Unfortunately something is a little different between our `loan_features` and `census_features` census tract columns. You'll need to fix it before you can merge.

## Cleaning

In [32]:
loan_features['census_tract'] = loan_features.census_tract.str.replace('.', '')

In [33]:
census_features[['TRACTA', 'COUNTYA', 'STATEA']] = census_features[['TRACTA', 'COUNTYA', 'STATEA']].astype(str)

/Users/jingyang/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [48]:
census_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74001 entries, 0 to 74000
Data columns (total 8 columns):
STATEA              74001 non-null object
COUNTYA             74001 non-null object
TRACTA              74001 non-null object
pct_hispanic        73311 non-null float64
pct_black           73311 non-null float64
pct_amer_indian     73311 non-null float64
pct_asian           73311 non-null float64
pct_pac_islander    73311 non-null float64
dtypes: float64(5), object(3)
memory usage: 4.5+ MB

In [49]:
loan_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10107 entries, 42 to 60664
Data columns (total 23 columns):
census_tract                   10107 non-null object
county_code                    10107 non-null object
state_code                     10107 non-null object
tract_to_msa_income_percent    10107 non-null float64
income                         10107 non-null int64
loan_amount                    10107 non-null int64
loan_income_ratio              10107 non-null float64
loan_denied                    10107 non-null int64
sex_male                       10107 non-null uint8
sex_na                         10107 non-null uint8
race_asian                     10107 non-null uint8
race_black                     10107 non-null uint8
race_hispanic                  10107 non-null uint8
race_na                        10107 non-null uint8
race_native american           10107 non-null uint8
race_native hawaiian           10107 non-null uint8
agency_CFPB                    10107 non-null uint8
agency_FRS                     10107 non-null uint8
agency_HUD                     10107 non-null uint8
agency_NCUA                    10107 non-null uint8
agency_OCC                     10107 non-null uint8
co_applicant_unknown           10107 non-null uint8
co_applicant_yes               10107 non-null uint8
dtypes: float64(2), int64(3), object(3), uint8(15)
memory usage: 1.2+ MB

## Do the merge

In [34]:
merged = loan_features.merge(census_features, left_on = ['census_tract', 'county_code', 'state_code'], 
                    right_on = ['TRACTA', 'COUNTYA', 'STATEA'])

Confirm you have 10107 rows and 31 columns in the merged dataframe.

In [36]:
merged.shape

(10107, 31)

# Our final dataframe

Drop all of the columns we merged on and save it as `train_df`.

In [37]:
train_df = merged.drop(columns = ['census_tract', 'county_code', 'state_code', 'STATEA', 'COUNTYA', 'TRACTA'])

Confirm that `train_df` has 10107 rows and 25 columns.

In [38]:
train_df.shape

(10107, 25)

## Final cleanup

Because we can't have missing data before we run a regression, check the size of `train_df`, then drop any missing data and check the size again. **Confirm you don't lose any rows.**

In [39]:
train_df = train_df.dropna()

In [40]:
(train_df == np.inf).sum()

tract_to_msa_income_percent    0
income                         0
loan_amount                    0
loan_income_ratio              0
loan_denied                    0
sex_male                       0
sex_na                         0
race_asian                     0
race_black                     0
race_hispanic                  0
race_na                        0
race_native american           0
race_native hawaiian           0
agency_CFPB                    0
agency_FRS                     0
agency_HUD                     0
agency_NCUA                    0
agency_OCC                     0
co_applicant_unknown           0
co_applicant_yes               0
pct_hispanic                   0
pct_black                      0
pct_amer_indian                0
pct_asian                      0
pct_pac_islander               0
dtype: int64

In [41]:
train_df.shape

(10107, 25)

# Performing our regression

## Try with statsmodels

First try to run a linear regression with statsmodels, because even though sometimes it complains and breaks, the output just looks *so nice*. Instead of `sm.OLS` we'll use `sm.Logit`.

In [42]:
train_df.columns

Index(['tract_to_msa_income_percent', 'income', 'loan_amount',
       'loan_income_ratio', 'loan_denied', 'sex_male', 'sex_na', 'race_asian',
       'race_black', 'race_hispanic', 'race_na', 'race_native american',
       'race_native hawaiian', 'agency_CFPB', 'agency_FRS', 'agency_HUD',
       'agency_NCUA', 'agency_OCC', 'co_applicant_unknown', 'co_applicant_yes',
       'pct_hispanic', 'pct_black', 'pct_amer_indian', 'pct_asian',
       'pct_pac_islander'],
      dtype='object')

In [43]:
X = train_df.drop(columns = 'loan_denied')
y = train_df.loan_denied

mod = sm.Logit(y, X)
res = mod.fit()
res.summary2()

Optimization terminated successfully.
         Current function value: 0.346787
         Iterations 7

<class 'statsmodels.iolib.summary2.Summary'>
"""
                              Results: Logit
===========================================================================
Model:                  Logit               Pseudo R-squared:    0.063
Dependent Variable:     loan_denied         AIC:                 7057.9574
Date:                   2019-07-26 11:09    BIC:                 7231.2610
No. Observations:       10107               Log-Likelihood:      -3505.0
Df Model:               23                  LL-Null:             -3740.6
Df Residuals:           10083               LLR p-value:         3.3800e-85
Converged:              1.0000              Scale:               1.0000
No. Iterations:         7.0000
---------------------------------------------------------------------------
                             Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
---------------------------------------------------------------------------
tract_to_msa_income_percent  0.0027   0.0007  4.0600 0.0000  0.0014  0.0040
income                      -0.0003   0.0002 -1.3469 0.1780 -0.0007  0.0001
loan_amount                  0.0015   0.0003  5.5234 0.0000  0.0010  0.0020
loan_income_ratio            1.5983   0.1660  9.6308 0.0000  1.2730  1.9235
sex_male                     0.0332   0.0674  0.4924 0.6224 -0.0989  0.1652
sex_na                       0.2569   0.1738  1.4788 0.1392 -0.0836  0.5975
race_asian                  -0.3028   0.1015 -2.9820 0.0029 -0.5018 -0.1038
race_black                  -0.8356   0.1116 -7.4848 0.0000 -1.0545 -0.6168
race_hispanic               -0.4300   0.1584 -2.7149 0.0066 -0.7405 -0.1196
race_na                     -0.3939   0.1179 -3.3401 0.0008 -0.6250 -0.1628
race_native american        -0.9948   0.5593 -1.7785 0.0753 -2.0910  0.1015
race_native hawaiian        -0.9133   0.4539 -2.0121 0.0442 -1.8030 -0.0237
agency_CFPB                 -0.5149   0.1078 -4.7748 0.0000 -0.7262 -0.3035
agency_FRS                   0.6795   0.2028  3.3507 0.0008  0.2820  1.0769
agency_HUD                   0.5233   0.1112  4.7072 0.0000  0.3054  0.7412
agency_NCUA                 -0.7039   0.1285 -5.4795 0.0000 -0.9557 -0.4521
agency_OCC                   0.1222   0.1799  0.6795 0.4968 -0.2303  0.4748
co_applicant_unknown        -0.3245   0.2036 -1.5939 0.1109 -0.7236  0.0745
co_applicant_yes             0.2332   0.0748  3.1181 0.0018  0.0866  0.3798
pct_hispanic                 0.0018   0.0034  0.5293 0.5966 -0.0049  0.0085
pct_black                   -0.0013   0.0015 -0.8419 0.3998 -0.0042  0.0017
pct_amer_indian              0.3030   0.0968  3.1301 0.0017  0.1133  0.4927
pct_asian                    0.0018   0.0043  0.4142 0.6787 -0.0067  0.0103
pct_pac_islander             0.0662   0.1560  0.4245 0.6712 -0.2395  0.3720
===========================================================================

"""

In [44]:
res.summary2().tables[1]

,Coef.,Std.Err.,z,P>|z|,[0.025,0.975]
tract_to_msa_income_percent,0.002683,0.000661,4.059977,4.907760e-05,0.001388,0.003978
income,-0.000301,0.000224,-1.346888,1.780163e-01,-0.000739,0.000137
loan_amount,0.001474,0.000267,5.523369,3.325603e-08,0.000951,0.001997
loan_income_ratio,1.598258,0.165952,9.630833,5.924722e-22,1.272998,1.923519
sex_male,0.033175,0.067370,0.492423,6.224203e-01,-0.098869,0.165218
sex_na,0.256948,0.173758,1.478771,1.392015e-01,-0.083611,0.597506
race_asian,-0.302795,0.101541,-2.982009,2.863634e-03,-0.501810,-0.103779
race_black,-0.835633,0.111644,-7.484811,7.164993e-14,-1.054451,-0.616815
race_hispanic,-0.430015,0.158392,-2.714879,6.630002e-03,-0.740458,-0.119573
race_na,-0.393888,0.117928,-3.340087,8.375207e-04,-0.625022,-0.162755
race_native american,-0.994766,0.559339,-1.778467,7.532721e-02,-2.091050,0.101518
race_native hawaiian,-0.913316,0.453919,-2.012069,4.421262e-02,-1.802980,-0.023652
agency_CFPB,-0.514890,0.107834,-4.774843,1.798475e-06,-0.726240,-0.303539
agency_FRS,0.679471,0.202786,3.350673,8.061551e-04,0.282017,1.076925
agency_HUD,0.523331,0.111178,4.707162,2.511899e-06,0.305427,0.741236
agency_NCUA,-0.703893,0.128459,-5.479513,4.264971e-08,-0.955669,-0.452118
agency_OCC,0.122231,0.179889,0.679482,4.968328e-01,-0.230345,0.474807
co_applicant_unknown,-0.324538,0.203606,-1.593949,1.109475e-01,-0.723598,0.074523
co_applicant_yes,0.233236,0.074801,3.118102,1.820198e-03,0.086630,0.379843
pct_hispanic,0.001816,0.003431,0.529292,5.966028e-01,-0.004908,0.008539
pct_black,-0.001253,0.001489,-0.841898,3.998453e-01,-0.004171,0.001664
pct_amer_indian,0.302967,0.096791,3.130123,1.747331e-03,0.113260,0.492673
pct_asian,0.001795,0.004333,0.414198,6.787293e-01,-0.006699,0.010288
pct_pac_islander,0.066229,0.156005,0.424535,6.711760e-01,-0.239534,0.371993

## Try again with sci-kit learn

But I'll be honest, I like sklearn a *lot lot lot* better. Using the coefficient to build a dataframe just seems so *nice*.

> **Tip:** When you build your model, use `LogisticRegression(C=1e9, solver='lbfgs', max_iter=4000)` - for if you don't increase `max_iter` (how long/hard it works) it'll complain it can't find an answer.

In [45]:
lm = LogisticRegression(C=1e9, solver='lbfgs', max_iter=4000)
lm.fit(X, y)

LogisticRegression(C=1000000000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=4000,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

### Getting your coefficients and odds ratios

After you run your regression **using sklearn**, you can use code like the below to print out an ordered list of features, coefficients, and odds ratios.

```python
feature_names = X.columns
coefficients = clf.coef_[0]

pd.DataFrame({
    'feature': feature_names,
    'coefficient (log odds ratio)': coefficients,
    'odds ratio': np.exp(coefficients)
}).sort_values(by='odds ratio', ascending=False)
```

In [46]:
feature_names = X.columns
coefficients = lm.coef_[0]

In [47]:
pd.DataFrame({
    'feature': feature_names,
    'coefficient (log odds ratio)': coefficients,
    'odds ratio': np.exp(coefficients)
})

                        feature  coefficient (log odds ratio)  odds ratio
0   tract_to_msa_income_percent                     -0.000715    0.999286
1                        income                      0.000815    1.000816
2                   loan_amount                      0.000679    1.000679
3             loan_income_ratio                     -0.028608    0.971798
4                      sex_male                     -0.102939    0.902182
5                        sex_na                      0.078638    1.081813
6                    race_asian                     -0.464822    0.628247
7                    race_black                     -0.813764    0.443187
8                 race_hispanic                     -0.419573    0.657328
9                       race_na                     -0.409274    0.664132
10         race_native american                     -0.748963    0.472857
11         race_native hawaiian                     -0.946064    0.388266
12                  agency_CFPB                     -1.121310    0.325853
13                   agency_FRS                     -0.040100    0.960693
14                   agency_HUD                     -0.136487    0.872417
15                  agency_NCUA                     -1.353442    0.258350
16                   agency_OCC                     -0.433207    0.648426
17         co_applicant_unknown                     -0.238939    0.787463
18             co_applicant_yes                      0.236203    1.266431
19                 pct_hispanic                     -0.009854    0.990194
20                    pct_black                     -0.007792    0.992239
21              pct_amer_indian                      0.325759    1.385081
22                    pct_asian                     -0.011221    0.988842
23             pct_pac_islander                     -0.008542    0.991495

### Wait, what's the odds ratio again?

It's how much that variable affects the outcome **if all other variables stay the same.**

# Interpreting and thinking about the analysis

### Question 1

Our results aren't exactly the same as Reveal's, as I pulled a slightly different number of rows from the database and I'm not sure what exact dataset they used for census information. How are we feeling about this reproduction? **You might want check their 2015 results in the whitepaper.**

### Question 2

In the opening paragraph to the flagship piece, [Aaron and Emmanuel write](https://www.revealnews.org/article/for-people-of-color-banks-are-shutting-the-door-to-homeownership/):

> Fifty years after the federal Fair Housing Act banned racial discrimination in lending, African Americans and Latinos continue to be routinely denied conventional mortgage loans at rates far higher than their white counterparts.

If you look at the results, Hawaiians/Pacific Islanders (and maybe Native Americans) have an even higher odds ratio. **Why do they choose to talk about African Americans and Latinos instead?**

### Question 3

Write a sentence expressing the meaning of the **odds ratio** statistic for Black mortgage applicants. Find a line in [the Reveal piece](https://www.revealnews.org/article/for-people-of-color-banks-are-shutting-the-door-to-homeownership/) where they use the odds ratio.

### Question 4

Write a similar sentence about men.

### Question 5

Why did Aaron and Emmanuel choose to include the loan-to-income ratio statistic? **You might want to read the whitepaper.**

### Question 6

Credit score is a common reason why loans are denied. Why are credit scores not included in our analysis? **You might want to read the whitepaper.**

### Question 7

This data was just sitting out there for anyone to look at, they didn't even need to FOIA it. Why do you think this issue had not come up before Reveal's analysis?

### Question 8

As a result of this series, [a lot has happened](https://www.revealnews.org/blog/we-exposed-modern-day-redlining-in-61-cities-find-out-whats-happened-since/), although [recent changes don't look so good](https://www.revealnews.org/blog/cfpb-moves-to-limit-home-loan-data/). If you were reporting this story, what groups of people would you want to talk to in order to make sure you're getting the story right?

### Question 9

When they were consulting experts, Aaron and Emmanuel received a lot of conflicting accounts about whether they should include the "N/A" values for race (they ended up including it). If the experts disagreed about something like that, why do you think they went forward with their analysis?

### Question 10

What if we were working on this story, and our logistic regression or input dataset were flawed? What would be the repercussions?